# Databáze

Obsah:

- Úvod do databází
- Úvod do relačních databází
- Úvod do SQL + Python a Pandas

## Úvod do databází

Doteď jste na kurzu zřejmě pracovali se **soubory** - odněkud soubor stáhli na svůj počítač, a tam ho zpracovali, a pak třeba zase výsledek někam nahráli. Tento postup ale nestačí, pokud s těmito daty potřebuje pracovat více lidí (nebo strojů) najednou a zároveň je i aktualizovat. To se řeší tak, že spustíte **databázový systém** (DBMS, [SŘBD](https://cs.wikipedia.org/wiki/Syst%C3%A9m_%C5%99%C3%ADzen%C3%AD_b%C3%A1ze_dat)), ten ta data u sebe spravuje (soubory na disku obsahující specializované datové struktury) a vy se na tento systém připojujete přes počítačovou síť. Nebo třeba používáte webovou aplikaci a ta je na tento databázový systém (databázi) připojena.

Např. e-shop bude pracovat s databází, ve které jsou uloženy informace o prodávaném zboží, rozdělení zboží do kategorií, objednávky, reklamace, registrovaní uživatelé... Takovou databázi můžeme označit za "transakční".

Vy jako datoví analytici, inženýři apod. se pravděpodobně budete chtít do takovéto databáze připojit a stáhnout si z ní část dat pro svou další práci. Nebo dokonce může být vaším úkolem vytvořit novou "analytickou" databázi, která obsahuje data v jiné podobě, např. prodávané zboží bez popisků, bez fotografií, ale zato se statistikami návštěvnosti a prodejnosti.

V těchto materiálech budeme pracovat s databází [SQLite](https://www.sqlite.org/). Ta je poněkud specifická tím, že je uložena v jednom souboru (s příponou `.sqlite` nebo `.db`), není to tedy samostatně běžící server, ke kterému byste se připojovali, jak je tomu u většiny databází. O to snadněji se ale s SQLite pracuje. I SQLite umožňuje pracovat s jednou databází (jedním souborem) z několika programů zároveň, narozdíl od např. CSV nebo XLS sobourů.

## Vlastnosti databází

Od databáze (resp. databázového systému) očekáváme několik vlastností:

- Že bude uchovávat data :) Ne, vážně - data musí zůstat beze ztráty uložena i v případě výpadku napájení, když dojde místo na disku...
- Práce s daty "z různých úhlů". Např. v e-shopu chceme jednou vypsat zboží podle kategorie, jindy podle stavu skladových zásob, jindy na základě full-textového vyhledávání..
- Podpora uživatelů, rolí, oprávnění a kontroly přístupu k datům, security.
- Rychlost, výkon, propustnost, latence
- Škálovatelnost - jak do velikosti (gigabajty, terabajty, petabajty), tak do počtu prováděných operací za sekundu
- ACID
  - Atomicity: atomicita – operace provede z hlediska uživatele buď celá, nebo vůbec
  - Consistency: konzistence – zachování podmínek, které byly definovány na databázové úrovni
  - Isolation: izolovanost – vícero současně probíhajících transakcí se nesmí ovlivnit
  - Durability: trvanlivost – jakmile je již transakce dokončena, znamená to, že je zaznamenána trvalým způsobem
  
Když se nad tím zamyslíte, jedná se o protichůdné požadavky. Tvůrci databázových systémů tak musí zvolit nějaký kompomis. Někdy lze databáze nakonfigurovat, zda má např. preferovat izolaci, nebo propustnost (viz [PostgreSQL Transaction Isolation](https://www.postgresql.org/docs/9.5/transaction-iso.html)). Žádná databáze není "nejlepší" a vhodná na všechno. Zrovna co se týče rozdílu mezi "transakční" a "analytickou" databází, tak často pro tyto oblasti jsou vhodné odlišné systémy a přístupy.

## Relační databáze

Jde o typickou, klasickou, nejčastěji používanou kategorii databázových systémů. Používají se od 70. let, existuje okolo nich široký ekosystém se spoustou nástrojů a také lidí, kteří s nimi umí pracovat.

Co [relační databáze](https://en.wikipedia.org/wiki/Relational_database) obsahuje:

- "databáze" (jeden databázový systém může spravovat několik databází)
  - uživatelé (users)
  - **tabulky**
    - **sloupce**
    - indexy
    - constraints
    - cizí klíče (foreign keys)
    - triggery
  - pohledy (views)
  - procedury
  - sekvence

Data se ukládají v podobě řádek a sloupců do jednotlivých tabulek:

| title                 | year | director_name   | director_birthdate |
|:----------------------|:-----|:----------------|:-------------------|
| Pelíšky               | 1999 | Jan Hřebejk     | 1967-06-27         |
| Forrest Gump          | 1994 | Robert Zemeckis | 1951-05-14         |
| Návrat do budoucnosti | 1985 | Robert Zemeckis | 1951-05-14         |

Každý řádek je označen svým unikátním identifikátorem, a duplicitní data se *normalizují*:

| movie_id | title                 | year | director_id |
|----------|:----------------------|:-----|:------------|
|        1 | Pelíšky               | 1999 | 1           |
|        2 | Forrest Gump          | 1994 | 2           |
|        3 | Návrat do budoucnosti | 1985 | 2           |

| director_id | name            | birthdate  |
|-------------|:----------------|------------|
|           1 | Jan Hřebejk     | 1967-06-27 |
|           2 | Robert Zemeckis | 1951-05-14 |

Vztah mezi režiséry a filmy je zde 1:N. Každý jeden režisér je provázán s několika filmy. Každý jeden film je provázán s jedním režisérem (a nebo žádným, pokud jeho director_id není vyplněno).

Co když chceme vyjádřit možnost, že jeden film může mít více než jednoho režiséra?

| movie_id | title                 | year |
|----------|:----------------------|:-----|
|        1 | Pelíšky               | 1999 |
|        2 | Forrest Gump          | 1994 |
|        3 | Návrat do budoucnosti | 1985 |

| director_id | name            | birthdate  |
|-------------|:----------------|------------|
|           1 | Jan Hřebejk     | 1967-06-27 |
|           2 | Robert Zemeckis | 1951-05-14 |
|           3 | Joe Smith       | 1950-01-01 |

| movie_id | director_id |
|----------|-------------|
| 1        | 1           |
| 2        | 2           |
| 3        | 2           |
| 3        | 3           |

## SQL

SQL je jazyk, kterým komunikujeme s relační databází. Umí vyjádřit různé operace nad tabulkami - výběr sloupců, řádků, vztahy mezi více tabulkami, agregace hodnot z více řádků... (Nepřípomíná vám to něco? Pandas DataFrame? :) )

Příklad:

```
SELECT title, year FROM movies;

UPDATE directors SET birthdate = "1950-01-02" WHERE director_id = 3;
```

Dokonce i jiný software, než jsou relační databáze, rozumí SQL. Často právě analytické nástroje, data lakes, Amazon S3... Pak existuje spousta databází a jazyků, které se jazykem SQL inspirovaly - např. databáze Cassandra a její jazyk CQL.

## Instalace a import SQLAlchemy

Každá databáze se z Pythonu používá trochu jinak - liší se název modulu, který je potřeba importovat, mírně se liší způsob předávání dat použitých v SQL dotazech, liší se forma dat vrácených ve výsledku... Použijeme proto knihovnu [SQLAlchemy](https://www.sqlalchemy.org/), která tyto detaily _abstrahuje_ a poskytuje rozhraní stejné pro všechny databáze (které SQLAlchemy podporuje).

SQLAlchemy se skládá ze [dvou částí](https://docs.sqlalchemy.org/en/13/):

- Core - to je právě ta zmíněná abstrakce základních operací s databází, tuto část budeme používat
  - engine, connections, transactions
  - table metadata
  - SQL expression language
- [ORM](https://docs.sqlalchemy.org/en/13/orm/tutorial.html) - umožňuje pracovat s daty v databázi prostřednistvím mapování na objekty
  - zajímavé hlavně při psaní větších aplikací (webových aplikací apod.)

Instalaci knihovny [SQLAlchemy](https://www.sqlalchemy.org/) provedeme přes pip (nezapomeňte mít aktivovaný venv, do kterého to chcete instalovat):

```
pip install sqlalchemy
```

Případně lze instalaci spustit přímo z Jupyteru:

In [33]:
%pip install sqlalchemy

/opt/local/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9: No module named pip
Note: you may need to restart the kernel to use updated packages.

Knihovnu SQLAlchemy naimportujeme:

In [31]:
import sqlalchemy

Jako vždy, naimportujeme i [Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/index.html):

In [32]:
import pandas as pd

## Stažení filmové databáze

Pro ukázku práce s databází použijeme data od Míry Brabence.
Jde o databázi typu [SQLite](https://cs.wikipedia.org/wiki/SQLite) - skládá se z jediného souboru, ve kterém jsou všecha data. To znamená, že není žádný velký server, ke kterému byste se připojovaly jménem a heslem, jako u "klasických" databází (PostgreSQL, Oracle, MS SQL...).
Databáze v podobě SQLite souboru má výhodu v tom, že když něco rozbijete, tak ten soubor prostě smažete a uděláte si nový :)

Soubor s databází stáhneme knihovnou [Requests](https://requests.readthedocs.io/en/master/), kterou už máte nainstalovanou (instrukce byly v první hodině)
a uložíme ho do souboru v pracovním adresáři, tj. tam, odkud jste spustili Jupyter Notebook.

In [34]:
from pathlib import Path
import requests

In [35]:
db_data = requests.get('https://github.com/messa/movie-db-2020/raw/master/movies.sqlite').content
Path('movies.sqlite').write_bytes(db_data)

1421312

## Otevření databáze, průzkum struktury

In [37]:
engine = sqlalchemy.create_engine('sqlite:///movies.sqlite')

#engine = sqlalchemy.create_engine('sqlite:////home/petr/movies.sqlite')
# mysql://user:heslo@localhost:port/nazevdb

In [40]:
#dir(engine)

Objekt `engine` obsahuje připojení do databáze a skrz něj budeme provádět operace s danou databází.

Začneme tím, že se podíváme, jaká je struktura té databáze - jaké tabulky obsahuje a co obsahují ty tabulky. Každá databáze na to má jiné finty, jak toto zjistit (někdy funguje SQL příkaz `SHOW TABLES`, jindy je zase potřeba `SELECT` z metadat), naštěstí SQLAlchemy nám s tím pomůže.

In [41]:
sqlalchemy.inspect(engine).get_table_names()

['actors', 'movie_to_actor', 'movies']

In [42]:
def prozkoumat(engine):
    inspector = sqlalchemy.inspect(engine)
    for schema in inspector.get_schema_names():
        print('Schema:', schema)
        for table_name in inspector.get_table_names(schema=schema):
            print()
            print('  Table:', table_name)
            print()
            for column in inspector.get_columns(table_name, schema=schema):
                print('      Column:', column['name'].ljust(12), column['type'])

In [43]:
prozkoumat(engine)

Schema: main

  Table: actors

      Column: id           INTEGER
      Column: csfd_url     VARCHAR
      Column: name         VARCHAR
      Column: birth_date   DATE

  Table: movie_to_actor

      Column: id           INTEGER
      Column: movie_id     INTEGER
      Column: actor_id     INTEGER

  Table: movies

      Column: id           INTEGER
      Column: title        VARCHAR
      Column: csfd_url     VARCHAR
      Column: year         INTEGER
      Column: rating       NUMERIC

Na prozkoumání struktury a obsahu databáze můžete použít nějaký specializovaný program - [DB Browser](https://sqlitebrowser.org/), [DBeaver](https://dbeaver.io/), [MySQL Workbench](https://www.mysql.com/products/workbench/), ... je jich hodně, typicky se specializují na konkrétní druh databáze, některé programy jsou zdarma a některé placené. Existují i webové aplikace, nejznámější asi český [Adminer](https://www.adminer.org/). Zde jsem vám chtěl ukázat, že toho samého se dá dosáhnout i takto z Pythonu.

## SELECT

Ukážeme si několik způsobů, jak data z databáze "vytáhnout" do Pythonu.

In [44]:
print(engine.execute('SELECT id, name, birth_date FROM actors'))

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x1113b10d0>

Výsledkem volání `engine.execute(...)` je objekt, který umí reprezentuje výsledek SQL dotazu. V případě SELECT se skrz tento objekt dají procházet získané řádky, v případě operací INSERT, UPDATE, DELETE tento objekt obsahuje např. počet změněných řádek.

Zkusíme si zobrazit jednotlivé řádky. LIMIT slouží k omezení počtu vracených záznamů.

In [49]:
result = engine.execute('SELECT id, name, birth_date FROM actors LIMIT 5')
for row in result:
    print(row)

(1, 'Tim Robbins', '1958-10-16')
(2, 'Morgan Freeman', '1937-06-01')
(3, 'Bob Gunton', '1945-11-15')
(4, 'William Sadler', '1950-04-13')
(5, 'Clancy Brown', '1959-01-05')

Zdálo by se, že procházení `result` vrací n-tice (tuple), ale není tomu tak.

In [50]:
result = engine.execute('SELECT id, name, birth_date FROM actors LIMIT 5')
for row in result:
    print(type(row))

<class 'sqlalchemy.engine.row.LegacyRow'>
<class 'sqlalchemy.engine.row.LegacyRow'>
<class 'sqlalchemy.engine.row.LegacyRow'>
<class 'sqlalchemy.engine.row.LegacyRow'>
<class 'sqlalchemy.engine.row.LegacyRow'>

Jde o SQLAlchemy objekt RowProxy, který umí pár zajímavých věcí:

- vrátit hodnotu daného sloupce podle pořadí 
- vrátit hodnotu daného sloupce podle názvu
- vrátit dict s hodnotami

In [51]:
result = engine.execute('SELECT id, name, csfd_url FROM actors LIMIT 5')
for row in result:
    print(row[0], row[1])

1 Tim Robbins
2 Morgan Freeman
3 Bob Gunton
4 William Sadler
5 Clancy Brown

In [52]:
result = engine.execute('SELECT id, name, csfd_url FROM actors LIMIT 5')
for row in result:
    print(row['id'], row['name'])

1 Tim Robbins
2 Morgan Freeman
3 Bob Gunton
4 William Sadler
5 Clancy Brown

In [53]:
result = engine.execute('SELECT id, name, csfd_url FROM actors LIMIT 5')
for row in result:
    print(dict(row))

{'id': 1, 'name': 'Tim Robbins', 'csfd_url': 'https://www.csfd.cz/tvurce/103-tim-robbins/'}
{'id': 2, 'name': 'Morgan Freeman', 'csfd_url': 'https://www.csfd.cz/tvurce/92-morgan-freeman/'}
{'id': 3, 'name': 'Bob Gunton', 'csfd_url': 'https://www.csfd.cz/tvurce/202-bob-gunton/'}
{'id': 4, 'name': 'William Sadler', 'csfd_url': 'https://www.csfd.cz/tvurce/203-william-sadler/'}
{'id': 5, 'name': 'Clancy Brown', 'csfd_url': 'https://www.csfd.cz/tvurce/204-clancy-brown/'}

Pokud chceme získat hodnoty ze všech sloupečků, použijeme hvězdičku.

In [54]:
result = engine.execute('SELECT * FROM actors LIMIT 5')
for row in result:
    print(dict(row))

{'id': 1, 'csfd_url': 'https://www.csfd.cz/tvurce/103-tim-robbins/', 'name': 'Tim Robbins', 'birth_date': '1958-10-16'}
{'id': 2, 'csfd_url': 'https://www.csfd.cz/tvurce/92-morgan-freeman/', 'name': 'Morgan Freeman', 'birth_date': '1937-06-01'}
{'id': 3, 'csfd_url': 'https://www.csfd.cz/tvurce/202-bob-gunton/', 'name': 'Bob Gunton', 'birth_date': '1945-11-15'}
{'id': 4, 'csfd_url': 'https://www.csfd.cz/tvurce/203-william-sadler/', 'name': 'William Sadler', 'birth_date': '1950-04-13'}
{'id': 5, 'csfd_url': 'https://www.csfd.cz/tvurce/204-clancy-brown/', 'name': 'Clancy Brown', 'birth_date': '1959-01-05'}

Z dat lze vytvořit i Pandas DataFrame:

In [57]:
pd.read_sql_query('SELECT * FROM actors', engine)

,id,csfd_url,name,birth_date
0,1,https://www.csfd.cz/tvurce/103-tim-robbins/,Tim Robbins,1958-10-16
1,2,https://www.csfd.cz/tvurce/92-morgan-freeman/,Morgan Freeman,1937-06-01
2,3,https://www.csfd.cz/tvurce/202-bob-gunton/,Bob Gunton,1945-11-15
3,4,https://www.csfd.cz/tvurce/203-william-sadler/,William Sadler,1950-04-13
4,5,https://www.csfd.cz/tvurce/204-clancy-brown/,Clancy Brown,1959-01-05
...,...,...,...,...
7522,7523,https://www.csfd.cz/tvurce/147104-jon-kenny/,Jon Kenny,None
7523,7524,https://www.csfd.cz/tvurce/147105-lisa-hannigan/,Lisa Hannigan,1981-02-12
7524,7525,https://www.csfd.cz/tvurce/162204-lucy-o-connell/,Lucy O'Connell,None
7525,7526,https://www.csfd.cz/tvurce/309228-paul-young/,Paul Young,None
7526,7527,https://www.csfd.cz/tvurce/458624-grethe-mogen...,Grethe Mogensen,1937-05-25

Toto je zkratka pro načtení celé tabulky:

In [58]:
pd.read_sql_table('actors', engine)

,id,csfd_url,name,birth_date
0,1,https://www.csfd.cz/tvurce/103-tim-robbins/,Tim Robbins,1958-10-16
1,2,https://www.csfd.cz/tvurce/92-morgan-freeman/,Morgan Freeman,1937-06-01
2,3,https://www.csfd.cz/tvurce/202-bob-gunton/,Bob Gunton,1945-11-15
3,4,https://www.csfd.cz/tvurce/203-william-sadler/,William Sadler,1950-04-13
4,5,https://www.csfd.cz/tvurce/204-clancy-brown/,Clancy Brown,1959-01-05
...,...,...,...,...
7522,7523,https://www.csfd.cz/tvurce/147104-jon-kenny/,Jon Kenny,NaT
7523,7524,https://www.csfd.cz/tvurce/147105-lisa-hannigan/,Lisa Hannigan,1981-02-12
7524,7525,https://www.csfd.cz/tvurce/162204-lucy-o-connell/,Lucy O'Connell,NaT
7525,7526,https://www.csfd.cz/tvurce/309228-paul-young/,Paul Young,NaT
7526,7527,https://www.csfd.cz/tvurce/458624-grethe-mogen...,Grethe Mogensen,1937-05-25

## Průzkum dat ve filmové databázi

Data z jednotlivých tabulek si nahrajeme do Pandas DataFramů, se kterými budeme dále pracovat.

Pro přehlednost si zde vypíšeme ukázku obsahu těch DataFramů, abychom věděli, s čím pracujeme.

In [59]:
sqlalchemy.inspect(engine).get_table_names()

['actors', 'movie_to_actor', 'movies']

In [60]:
actors = pd.read_sql_table('actors', engine)
movies = pd.read_sql_table('movies', engine)
movie_to_actor = pd.read_sql_table('movie_to_actor', engine)

In [61]:
actors.head()

,id,csfd_url,name,birth_date
0,1,https://www.csfd.cz/tvurce/103-tim-robbins/,Tim Robbins,1958-10-16
1,2,https://www.csfd.cz/tvurce/92-morgan-freeman/,Morgan Freeman,1937-06-01
2,3,https://www.csfd.cz/tvurce/202-bob-gunton/,Bob Gunton,1945-11-15
3,4,https://www.csfd.cz/tvurce/203-william-sadler/,William Sadler,1950-04-13
4,5,https://www.csfd.cz/tvurce/204-clancy-brown/,Clancy Brown,1959-01-05

In [62]:
movies.head()

,id,title,csfd_url,year,rating
0,1,Vykoupení z věznice Shawshank,https://www.csfd.cz/film/2294-vykoupeni-z-vezn...,1994,95.3
1,2,Forrest Gump,https://www.csfd.cz/film/10135-forrest-gump/,1994,94.5
2,3,Zelená míle,https://www.csfd.cz/film/2292-zelena-mile/,1999,92.8
3,4,Přelet nad kukaččím hnízdem,https://www.csfd.cz/film/2982-prelet-nad-kukac...,1975,92.5
4,5,Sedm,https://www.csfd.cz/film/2671-sedm/,1995,92.4

In [63]:
movie_to_actor.head()

   id  movie_id  actor_id
0   1         1         1
1   2         1         2
2   3         1         3
3   4         1         4
4   5         1         5

## SELECT ... WHERE ... AND/OR

In [66]:
list(engine.execute('SELECT * FROM actors WHERE (birth_date > "2000-01-01") AND (birth_date < "2001-01-01")'))

[(4849, 'https://www.csfd.cz/tvurce/39309-medved-bart-2/', 'medvěd Bart 2', '2000-01-20'),
 (5703, 'https://www.csfd.cz/tvurce/283519-zaira-wasim/', 'Zaira Wasim', '2000-10-23'),
 (6290, 'https://www.csfd.cz/tvurce/35296-morgan-lily/', 'Morgan Lily', '2000-04-11')]

In [65]:
actors[(actors['birth_date'] > '2000-01-01') & (actors['birth_date'] < '2001-01-01')]

,id,csfd_url,name,birth_date
4848,4849,https://www.csfd.cz/tvurce/39309-medved-bart-2/,medvěd Bart 2,2000-01-20
5702,5703,https://www.csfd.cz/tvurce/283519-zaira-wasim/,Zaira Wasim,2000-10-23
6289,6290,https://www.csfd.cz/tvurce/35296-morgan-lily/,Morgan Lily,2000-04-11

## SELECT ... ORDER BY

In [71]:
list(engine.execute('SELECT * FROM actors WHERE birth_date > "2005-01-01" ORDER BY birth_date ASC, name ASC'))

[(526, 'https://www.csfd.cz/tvurce/239127-noah-jupe/', 'Noah Jupe', '2005-02-25'),
 (7051, 'https://www.csfd.cz/tvurce/321955-rocco-lerro/', 'Rocco Lerro', '2005-08-21'),
 (4979, 'https://www.csfd.cz/tvurce/357987-ariana-greenblatt/', 'Ariana Greenblatt', '2007-08-27'),
 (1876, 'https://www.csfd.cz/tvurce/540779-hailey-hermida/', 'Hailey Hermida', '2007-09-13'),
 (1865, 'https://www.csfd.cz/tvurce/354371-pierce-pope/', 'Pierce Pope', '2008-06-02')]

In [70]:
actors[(actors['birth_date'] > '2005-01-01')].sort_values('birth_date')

,id,csfd_url,name,birth_date
525,526,https://www.csfd.cz/tvurce/239127-noah-jupe/,Noah Jupe,2005-02-25
7050,7051,https://www.csfd.cz/tvurce/321955-rocco-lerro/,Rocco Lerro,2005-08-21
4978,4979,https://www.csfd.cz/tvurce/357987-ariana-green...,Ariana Greenblatt,2007-08-27
1875,1876,https://www.csfd.cz/tvurce/540779-hailey-hermida/,Hailey Hermida,2007-09-13
1864,1865,https://www.csfd.cz/tvurce/354371-pierce-pope/,Pierce Pope,2008-06-02

## SELECT ... GROUP BY

In [73]:
#list(engine.execute('SELECT year, COUNT(*) FROM movies GROUP BY year'))

In [76]:
list(engine.execute('SELECT year, COUNT(*) FROM movies WHERE year > 2000 GROUP BY year HAVING COUNT(*) > 5'))

[(2001, 8), (2002, 6), (2003, 6), (2004, 9), (2008, 6)]

## Úkol: který herec účinkoval v největším počtu filmů

Najděte v tabulce `movie_to_actor` id herce, u kterého je v té tabulce nejvíce id filmů.

Postup:

1. Pomocí GROUP BY si vypište vždy actor_id a k tomu počet řádků s tímto actor_id
2. Pomocí ORDER BY a LIMIT zjistěte actor_id, u kterého je tento počet nejvyšší
3. Bonus: zjistěte jméno tohoto herce

In [83]:
list(engine.execute('SELECT actor_id, COUNT(*) FROM movie_to_actor GROUP BY actor_id ORDER BY COUNT(*) DESC LIMIT 5'))

[(850, 15), (1255, 12), (1388, 10), (1328, 10), (1318, 10)]

In [86]:
list(engine.execute('SELECT id, name FROM actors WHERE id = 850 OR id = 1255'))

[(850, 'Rudolf Hrušínský'), (1255, 'Zdeněk Svěrák')]

In [88]:
list(engine.execute('''
    SELECT actor_id, name, COUNT(*) 
    FROM movie_to_actor JOIN actors ON movie_to_actor.actor_id = actors.id 
    GROUP BY movie_to_actor.actor_id ORDER BY COUNT(*) DESC LIMIT 5
'''))

[(850, 'Rudolf Hrušínský', 15),
 (1255, 'Zdeněk Svěrák', 12),
 (1388, 'Václav Trégl', 10),
 (1328, 'Josef Kemr', 10),
 (1318, 'František Filipovský', 10)]

In [89]:
list(engine.execute('''
    SELECT mta.actor_id, a.name, COUNT(*) 
    FROM movie_to_actor AS mta JOIN actors AS a ON mta.actor_id = a.id 
    GROUP BY mta.actor_id ORDER BY COUNT(*) DESC LIMIT 5
'''))

[(850, 'Rudolf Hrušínský', 15),
 (1255, 'Zdeněk Svěrák', 12),
 (1388, 'Václav Trégl', 10),
 (1328, 'Josef Kemr', 10),
 (1318, 'František Filipovský', 10)]

In [91]:
q = '''
    SELECT mta.actor_id, a.name, COUNT(*) 
    FROM movie_to_actor AS mta INNER JOIN actors AS a ON mta.actor_id = a.id 
    GROUP BY mta.actor_id ORDER BY COUNT(*) DESC LIMIT 5
'''
pd.read_sql_query(q, engine)

   actor_id                  name  COUNT(*)
0       850      Rudolf Hrušínský        15
1      1255         Zdeněk Svěrák        12
2      1388          Václav Trégl        10
3      1328            Josef Kemr        10
4      1318  František Filipovský        10

In [100]:
pd.read_sql_query('''
    SELECT * FROM actors LEFT JOIN movie_to_actor ON actors.id = movie_to_actor.actor_id 
    WHERE movie_to_actor.actor_id IS NULL LIMIT 5
    ''', engine)

     id csfd_url      name birth_date    id movie_id actor_id
0  9999     None  Joe Test       None  None     None     None

In [96]:
engine.execute('INSERT INTO actors (id, name) VALUES (9999, "Joe Test")')

## JOIN

<div><img src="https://naucse.python.cz/2020/pydata-praha-jaro/pydata/pandas_correlations/static/joins.svg"></div>

## CREATE TABLE

In [139]:
engine.execute('''
    CREATE TABLE IF NOT EXISTS rating (
      movie_id INTEGER,
      stars INTEGER
    )
''')

In [109]:
sqlalchemy.inspect(engine).get_table_names()

['actors', 'movie_to_actor', 'movies', 'rating']

## INSERT

In [110]:
engine.execute('INSERT INTO rating (movie_id, stars) SELECT id, 5 FROM movies')

In [138]:
pd.read_sql_query('''
    SELECT * FROM rating
    ''', engine)

     movie_id  stars
0         265      5
1         128      4
2          89      4
3         132      4
4          47      4
..        ...    ...
293        76      4
294       209      4
295       264      4
296       226      4
297       262      4

[298 rows x 2 columns]

## UPDATE

In [131]:
#engine.execute('UPDATE rating SET stars = 3') - pozor, meni u vsech zaznamu v tabulce
result = engine.execute('UPDATE rating SET stars = 5 WHERE movie_id = 265')
print(result.rowcount)
#engine.execute('UPDATE rating SET stars = 3 LIMIT 1')

1

## DELETE

In [126]:
result = engine.execute('DELETE FROM rating WHERE movie_id = 75')
print(result.rowcount)
#print(dir(result))

0

## DROP TABLE

In [134]:
engine.execute('DROP TABLE IF EXISTS rating2')

## Závěr

In [141]:
dir(actors)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'birth_date',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'csfd_url',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'id',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

## Odkazy

https://naucse.python.cz/2019/brno-podzim-2019-ut/beginners/database/